<ion-header>
  <ion-toolbar>
    <ion-title>Animals</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-content>
    <h1>Contact</h1>
    <br>
    <ul>
      <li>+358 44 123456</li>
      <br>
      <li>info@photoland.com</li>
      <br>
      <li>Photostreet 11, Helsinki</li>
      <br>
    </ul>
    <h2>About Us</h2>
    <br>
    <div class="info">
      Photoland is a picture application founded in 2022 as a school project. The application was developed by Henrik
      Säkkinen, Markus Pantti, Anton Mäyrä. The idea of ​​the application is to bring different pictures for users to
      view and brighten up their days. The pictures are divided into categories, everyone will surely find something
      they like to look at.
    </div>


  </ion-content>