.eka_auto {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.toka_auto {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.kolmas_auto {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.cars_welcome {
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
}

ion-content.background {
    --ion-background-color: #1e2022;
}