<ion-header>
  <ion-toolbar>
    <ion-title>Photoland</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">

  <ion-card color="primary" routerLink="/animals">
    <ion-card-header>
      <ion-card-title>Animals</ion-card-title>
      <ion-card-subtitle>Animals from all around the world</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Tap for more
    </ion-card-content>
  </ion-card>

  <ion-card color="danger" routerLink="/cars">
    <ion-card-header>
      <ion-card-title>Cars</ion-card-title>
      <ion-card-subtitle>Pictures about cars that are buzzing with speed</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Tap for more
    </ion-card-content>
  </ion-card>

  <ion-card color="warning" routerLink="/landscape">
    <ion-card-header>
      <ion-card-title>Landscape</ion-card-title>
      <ion-card-subtitle>Astonishing collection of landscapes</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Tap for more
    </ion-card-content>
  </ion-card>

  <ion-card color="success" routerLink="/about">
    <ion-card-header>
      <ion-card-title>About</ion-card-title>
      <ion-card-subtitle>Contact info</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Tap for more
    </ion-card-content>
  </ion-card>
</ion-content>