.eka_elukka {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.animals_welcome {
    margin-top: 5%;
    font-weight: bold;
    text-align: center;
}

.kolmas_elukka {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}


.toka_elukka {
    margin-top: 5%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

ion-content.background {
    --ion-background-color: #1e2022;
    --ion-text-color: white;
}