<ion-header>
  <ion-toolbar>
    <ion-title>Landscape</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="landscape_welcome">Behold all of these thriving landscape pictures from all around the world
  </div>
  <ion-img class="eka_tausta" src="https://cdn.pixabay.com/photo/2015/12/01/20/28/road-1072823_960_720.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <br>
  <br>
  <ion-img class="toka_tausta" src="https://cdn.pixabay.com/photo/2020/03/03/20/31/boat-4899802_960_720.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  <br>
  <br>
  <ion-img class="kolmas_tausta" src="https://cdn.pixabay.com/photo/2018/10/19/12/14/train-3758523_960_720.jpg"
    alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
</ion-content>